[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==2.1.1"
Flask-SQLAlchemy = "==2.5.1"
itsdangerous = "==2.1.2"
SQLAlchemy = "==1.4.32"
Werkzeug = "==2.1.0"
zipp = "==3.7.0"

[dev-packages]

[requires]
python_version = "3.8"
